.modal-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
    display: flex;

    min-width: 60%;

    padding: 45px 0;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    /* background-color: white; */
    background: url('/resources/winner-bg.jpg') no-repeat center;

    background-size: cover;

    border-radius: 50%;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    padding: 1rem;
    /* border-bottom: 1px solid #e9ecef; */
    font-weight: 700;
    font-size: 50px;
}

.modal-header span {
    background: -webkit-linear-gradient(#ff0000, #615b09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-body {
    padding: 1rem;
}

.close-btn {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;

    color: #ffffff;

    background: -webkit-linear-gradient(#ff0000, #615b09);
    width: 35px;
    height: 35px;
    border-radius: 50%;

    text-align: center;
}

.modal-winner___name {
    text-align: center;
    font-weight: 600;
    font-size: 40px;

    background: -webkit-linear-gradient(#9e4001, #d30000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
